@charset "utf-8";

@media screen and (min-width: 601px) and (max-width: 992px){

    body{
        background-image: linear-gradient(to bottom, var(--rosa), var(--verde));
    }

    #login{
        width: 80vw;

    }

    section#login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
        background: url(../imagens/predio.jpg) center right;
        background-size: cover;
    }

    section#login > #form{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, var(--rosa), var(--verde));
    }

    #login{
        width: 900px;

    }

    section#login > #imagem{
        float: right;
        width: 50%;
        height: 100%;
        background: url(../imagens/predio.jpg) left bottom;
        background-size: cover;
    }

    section#login > #form{
        float: left;
        width: 50%;
    }

    div#form h1{
        font-size: 2em;
    }

    div#form p{
        font-size: 1em;
    }

}