@charset "utf-8";

@media screen and (min-width: 601px) and (max-width: 992px){

    body{
        background-image: linear-gradient(to bottom, var(--rosa), var(--verde));
    }

    #login{
        width: 80vw;

    }

    section#login > #imagem{
        float: left;
        width: 30%;
        height: 100%;
        background: url(../imagens/predio.jpg) center right;
        background-size: cover;
    }

    section#login > #form{
        float: right;
        width: 70%;
    }

    .bg-image {
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url('../imagens/keyboardpsG3.jpg');
        background-size: cover;
    }

    div#form > h1{
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    
    }

    div#form p{
        font-size: 1em;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, var(--rosa), var(--verde));
    }

    #login{
        width: 900px;

    }

    section#login > #imagem{
        float: right;
        width: 50%;
        height: 100%;
        background: url(../imagens/predio.jpg) left bottom;
        background-size: cover;
    }

    section#login > #form{
        float: left;
        width: 50%;
    }

    div#form h1{
        font-size: 2em;
    }

    div#form p{
        font-size: 1em;
    }

    .alert.alert-warning {

        display: block;
        background-color: rgba(252, 248, 227, 1);
        border-color: rgba(177, 161, 129, 1);
        color: rgba(138, 109, 59, 1);
        border: 2px solid rgba(177, 161, 129, 1);
        padding: 10px;
        width: 430px;

        position: relative;
        transform: translate(0%,0%);
      }

      .bg-image {
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url('../imagens/keyboardpsG3.jpg');
        background-size: cover;
    }
    
}