@charset "utf-8";

/* PALETA DE CORES 
    ROSA: #E0698C
    VERDE: #5FE1B7
*/

:root{
    --rosa: #e367e3;
    --verde: #325adb;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--verde);
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
}

main > section{
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.44);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

div#form{
    padding: 10px;
}

div#form > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#form p{
    font-size: 0.8em;
}

div#imagem{
    background: url(../imagens/prediopq.jpg) left bottom;
    width: 300px;
    height: 200px;
}

#sub[type=submit]{
    display: block;
    font-size: 1em;
    background-color: var(--rosa);
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: white;
    border: 2px solid #b04db0;
    
}

#sub:hover{
    background-color: #b04db0;
    cursor: pointer;
}

#esqueci{
    display: block;
    text-align: center;
    font-size: 1em;
    background-color: white;
    height: 40px;
    text-decoration: none;
    color: var(--verde);
    border-radius: 5px;
    margin-top: 5px;
    border: 2px solid var(--verde);
}

#esqueci:hover{
    background-color: rgb(180, 180, 180);
}

div.campo{
    background-color: #325adb;
    height: 42px;
    margin: 5px 0px;
    border-radius: 10px;
}

.texts{
    transform: translateY(-10px) !important;
}

label{
    display: none;
}

div.campo i{
    color: white;
    font-size: 2em;
    padding: 3px;
    padding-top: 5px;

}

div.campo input{
    background-color:#ffdbff;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    width: calc(100% - 43px);

    transform: translateY(-11px);
    border: 3px solid #325adb;

}

div.campo input:focus-within{
    background-color: white;
}

a > i{
    transform: translateY(7px);
}